/* .loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #1d1d1d;
    color: white;
    font-size: 1.5em;
}

.progressBar {
    width: 0;
    height: 8px;
    background-color: #4caf50;
    transition: width 0.3s;
    margin-top: 16px;
    border-radius: 4px;
} */


.progressbar {
    //flex: 0 0 100%;
    display: flex;
    flex-direction: column;
    //align-items: center;
    margin: auto 1rem;
    //height: 10vh;
    //background-color:lightgrey;
    //background-color: rgb(51 65 85);
    //border: 1px solid lightgray;
    //margin: 0 1rem;
    //border-radius: 0.1rem;
    bottom: 0;
    gap:1rem;
    padding: 1rem;
    border-radius: 1rem;

    //border: 1px solid;
    box-shadow: 0px 0px 25px rgb(0 0 0 / 50%);
  }
  
  .progress {
    background-color: rgb(22 163 74);
    //background: linear-gradient(white, rgb(25, 180, 21));
    height: 3vh;
    width:0;
    border-radius: 0.3rem;
    border: 1px solid;
    border-right:none;
    //border-top-left-radius:0.3rem;
    //border-bottom-left-radius:0.3rem;
    border-top-right-radius:0;
    border-bottom-right-radius:0;
    //transition: 2s ease-in-out;
    transition: width 0.3s, background-color 0.3s;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
  
    -webkit-transition: 0.4s linear;
      -moz-transition: 0.4s linear;
      -o-transition: 0.4s linear;
      transition: 0.4s linear;
      -webkit-transition-property: width, background-color;
      -moz-transition-property: width, background-color;
      -o-transition-property: width, background-color;
      transition-property: width, background-color;
      -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
      box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
  }




  
.loader {
  //position: absolute;
  //top: calc(50% - 32px);
  //left: calc(50% - 32px);
  margin: 0 auto;
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  perspective: 800px;
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;  
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid rgb(22 163 74);
}

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid rgb(22 163 74);
}

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid rgb(22 163 74);
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
