.container {
    position: absolute;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgb(75, 94, 121);
    border-bottom: 3px solid gray;

    width: 100vw;
    height: 100vh;
    z-index: 1000;

    //right: 50vw;
    top: -100vh;


    transition: top 0.5s;
    animation: open 0.5s forwards;
}

.containerclosing {
    animation: close 0.5s forwards;
}

@keyframes open {
    from {
        top:-100vh;
        left: 0;
      }
      to {
        top: 0;
        left: 0;
      }
}

@keyframes close {
  from {
      top:0;
      left: 0;
    }
    to {
      top: -100vh;
      left: 0;
    }
}

.header {
    display:flex;
    justify-content: space-between;
    //height:5vh;
    //border:1px solid;
    
}

.mapContainer {
    //flex-grow: 1; /* Займет оставшуюся высоту после header  for iphone tests */

    overflow: hidden;
    //height: 100%;
    //width: 100%;
    padding-bottom:1rem;
    //background-color:rgb(51, 65, 85);
    min-height: 40vh; /* for iphone tests */
  }

.react-transform-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.btnset {
  position: absolute;
  display: flex;
  position:relative;
  justify-content:center;

  
}

.btn {
  //position: absolute;
  
  gap:1rem;
  border: 1px solid;
  margin: -1rem 0.2rem;
  padding:0.5rem 1rem;
  border-radius: 0.5rem;
  //z-index: 99999;
  font-size: calc(1.2vh * 2);

  font-weight: bold;
  background-color: rgb(51 65 85);
}

.btn:active {
  transform: scale(0.95);
}

.panel {
  //border: 1px solid;
  min-height: 39vh;
  //display: flex;
  align-items:center;
}

.btnbuy {
  gap:1rem;
  //width: 40vw;
  border: 1px solid;
  margin: 1rem 0.2rem;
  padding:0.5rem 1rem;
  border-radius: 0.5rem;
  z-index: 100;
  font-size: calc(1.2vh * 2);

  font-weight: bold;
  background-color: rgb(51 65 85);
}

.footer{
  //border:1px solid;
  position:absolute;
  bottom:0;
}

.back {
  background-color: rgb(51 65 85);
  padding: 0 0.5rem;
  border-radius: 0.3rem;
  border: 1px solid;
}

