/* .arena {
    border: 1px solid black;
    width: 100vw;
    max-width: 760px;
    height:55vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3%;
    justify-items: center;
    align-content: center;
  }
  
  .pixel {
    aspect-ratio: 10 / 16;
    height: 16.6vh;
    display: flex;
    justify-content: center;
    border-radius: 5%;
    border: 1px solid red;
  }
 */

 /* arena.module.css */
 .arena {
  //border: 1px solid black;
  width: 100vw;
  max-width: 760px;
  height: 55vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3%;
  justify-items: center;
  align-content: center;
  position: relative;
  overflow: hidden; /* скрываем элементы, выходящие за пределы */
}


.pixel {
  aspect-ratio: 10 / 16;
  height: 16.6vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  //justify-content: center;
  align-items: center;
  border-radius: 5%;
  //border: 1px solid red;
  //transition: transform 0.5s ease, opacity 0.5s ease; /* плавный переход */
  transition: all 0.5s ease;
  //box-shadow: 0px 0px 25px rgb(0 0 0 / 50%);
  //box-shadow: 4px -4px 10px rgb(0 0 0 / 50%);
  box-shadow: 0px 0px 10px rgb(0 0 0 / 80%);
  background: linear-gradient(black, rgb(30 41 59 / 50%));
}

.hidden {
  opacity:0;
}

.fadeout {
  opacity: 0; /* Исчезает */
}

.slidedown {
  transform: translateY(110%); /* Сдвигаем вниз */
}

.slideback {
  transform: translateY(0);
  transition: all 0s;
}

.newcard {
  opacity: 0;
  //transform: translateY(-100%); /* новая строка появляется сверху */
  //transition: all 0.5s;
}

.newcardvisible {
  opacity: 1;
  //transform: translateY(0); /* новая строка полностью видима */
  //transition: all 0.5s;
}



/* ===========================CARD */

.shaking {
  animation: shaking 1s infinite;
}

@keyframes shaking {
  0% { transform: rotate(0deg); }
 20% { transform: rotate(0deg); }
 25% { transform: rotate(5deg); }
 35% { transform: rotate(-5deg); }
 40%  { transform: rotate(0deg); }
100% { transform: rotate(0deg); }
}


.hide {
  display: none;
}

.damage {
  position:absolute;
  color:rgb(255 64 0);
  animation: kick 2s forwards;
  left:40%;
  bottom:50%;
  //opacity:1;
}

@keyframes kick {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    bottom:100%;
  }
}

.boss {
  position: absolute;
  left: 0;
  top: 0;
  maxHeight: 58%; 
  borderRadius: 5%;
  width: 100%;
  width: -moz-available;          /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  width: fill-available;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.wfa {
  width: 100%;
  width: -moz-available;          /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  width: fill-available;
}
