.gamewrapper {
  background: linear-gradient(rgb(100 116 139),rgb(30 41 59));
  color: white;
  width: 100vw;
  height: 100vh;
  border: 1px solid black;
}

.headgame {
height: 10vh;
border: 1px solid black;
}

.mainarea {
  border: 1px solid black;
  height:60vh;
}

.playerarea {
  border: 1px solid black;
  height: 30vh;

}
