.list {
  //flex-grow: 1;
  //display:flex;
  //flex-direction: column;
  overflow-y: auto;
  padding: 0.6rem 0.6rem 5rem 0.6rem;
  //animation: uplist 0.5s forwards;
}

.listitem {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 1 0 30%; 
  background-color: rgb(58 70 88);
  padding: 0.6rem 0.5rem; 
  margin: 0.5rem 0; 
  border-radius: 0.5rem;
  //box-shadow: 0px 0px 25px rgb(0 0 0 / 50%);
  border: 2px solid grey;

  /* animation: scale 0.6s forwards; */
  animation: uplist 0.5s forwards;
  will-change: margin-top;
}

@keyframes uplist {
  0% {
      margin-top: 100vh;
  }

  100% {
      margin-top: 0;
  }
}

.firstline {
  display: flex;
  flex: 1;
}

.connectwallet {
  opacity: 0;
  animation: connw 1.5s forwards;
  animation-delay: 2s;
  color:lightgrey;
}

.connectwallettosee {
  opacity: 0;
  animation: connw 1.5s forwards;
  animation-delay: 3s;
  color:gray;
}

.connectwallettomine {
  opacity: 0;
  animation: connw 1.5s forwards;
  animation-delay: 4s;
  color:gray;
}

@keyframes connw {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

/* @keyframes scale {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  40% {
      transform: scale(1.05);
  }
  65% {
      transform: scale(0.95);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
} */

/* .offBalances {
background: rgba( 255, 255, 255, 0.2);
} */

.donthave {
display: flex;
flex-basis: 100%;
align-items: center;
color: rgba(0, 0, 0, 0.35);
margin: 8px 0px;
}

/* .donthave:before,
.donthave:after {
content: "";
flex-grow: 1;
background: gray;
height: 1px;
font-size: 0px;
line-height: 0px;
margin: 0px 8px;
} */

.currname {
  /* flex: 1; */
  flex-basis: 4.5rem;
  text-align:left;
}

.progressbar {
  flex: 0 0 100%;
  height: 0.5rem;
  background-color:lightgrey;
  border-radius:0.3rem;
}

.progress {
  background-color: rgb(22 163 74);
  border-radius:0.3rem;
  border-top-right-radius: 0.2rem; 
  border-bottom-right-radius: 0.2rem; 
  
  height: 0.5rem;
  width:0;
}

.range0, .range1, .news {
  flex:1;
  color: lightgrey;
  font-size: 1rem;
}

.range0{
  text-align:left;
}

.range1{
  text-align:right;
}

.news {
  margin-top:0.6rem;
  height:2rem;
  border-radius:0.3rem;
  background-color: transparent;
  border: 1px solid gray;
  font-size: 1rem;
  color:white;
}

.goTop {
  position: fixed;
  padding: 0rem 0.8rem;
  border: 1px solid;
  border-radius: 0.3rem;
  left: 90vw; 
  bottom: 4.5rem;
  background: rgba(100, 116, 139, 0.5);
  z-index:200;

  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
}

.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid #FFF;
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(0);
  animation: animloader 2s linear infinite;
}
.loader::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}


.loading {
  font-weight: bold;
  display:inline-block;
  margin: 0 auto 1.2rem auto;
  //display:block;
  font-family: monospace;
  clip-path: inset(0 3ch 0 0);
  animation: l 1s steps(4) infinite;
}

@keyframes l {
  to {
    clip-path: inset(0 -1ch 0 0)
  }
}
