.list {
    flex-grow: 1;
    overflow-y: auto;
    padding: 0.6rem 0.6rem;
    padding-bottom: 4.5rem;
}

.listitem {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 1 0 30%; 
    //gap: 1rem;
    border: 1px solid; 
    padding: 0.6rem 0.5rem; 
    margin: 0.5rem 0; 
    border-radius: 0.5rem;
    //align-items: center;
}

.currname {
    flex-basis: 4rem;
    text-align:left;
    //border:1px solid;
}

.progressbar {
    flex: 0 0 100%;
    height: 0.5rem;
    background-color:lightgrey;
    border-radius:0.3rem;
}

.progress {
    background-color: green;
    height: 0.5rem;
    width:0;
}

.range0, .range1, .news {
    flex:1;
    color: lightgrey;
    font-size: 1rem;
}

.range0{
    text-align:left;
}

.range1{
    text-align:right;
}

.news {
    margin-top:0.6rem;
    height:2rem;
    border-radius:0.3rem;
    background-color: transparent;
    //color: black;
    border:1px solid;
    font-size: 1rem;
    
}

/* .range1 {
    color: lightgrey;
    font-size: 0.8rem;
}
 */
