[data-tc-button="true"] {
    background-color: rgb(51 65 85);
    //border:1px solid rgb(51 65 85);
    min-width:0;
    border-radius:0.3rem;
}

[data-tc-text="true"] {
    /* color:rgba(255, 255, 255, 0.57); */
    font-size:0.8rem;
    //color:gray;
}
