.header {
    display:flex;
    margin:0.3rem;
    padding: 0.3rem 0.3rem;
    justify-content: space-between;
    gap:1rem;
    //border: 1px solid gray;
    border-radius: 0.3rem;
    
    //height: 4rem;
    flex-shrink: 0;
    align-items:center;

    /* -webkit-box-shadow: 2px -2px 8px 0px rgba(246, 246, 246, 0.1);
    -moz-box-shadow: 2px -2px 8px 0px rgba(246, 246, 246, 0.1);
    box-shadow: 2px -2px 8px 0px rgba(246, 246, 246, 0.1); */
}

.profile, .speed, .settings {
    width:10rem;
    padding: 0.5rem;
    //border: 1px solid;
    border-radius: 0.3rem;
    background-color:rgb(51 65 85);

    box-shadow: -2px -2px 5px #000, 2px 2px 5px #000000;
    
}

.settings{
    padding:0;
}


.speed {
    background-color: rgb(71 85 105);
    color:white;
    box-shadow: none;
}

[data-tc-button="true"] {
    background-color: rgb(51 65 85);
    //border:1px solid rgb(51 65 85);
    min-width:0;
    border-radius:0.3rem;
}

[data-tc-text="true"] {
    /* color:rgba(255, 255, 255, 0.57); */
    font-size:0.8rem;
    //color:gray;
}

