.header {
    display:flex;
    margin:0.3rem;
    padding: 0.3rem 0.3rem;
    justify-content: space-between;
    gap:0.8rem;
    border-radius: 0.3rem;
    
    flex-shrink: 0;
    align-items:center;
}

.profile, .speed, .settings {
    width:10rem;
    height:2.5rem;
    padding: 0.5rem;
    border-radius: 0.3rem;
    background-color:rgb(51 65 85);
    box-shadow: -2px -2px 5px #000, 2px 2px 5px #000000;
}

.ontab {
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.settings{
    padding:0;
    background-color:transparent;
    box-shadow: none;
    width: 9rem;
}

.speed {
    background-color: rgb(71 85 105);
    font-size: 0.9rem;
    box-shadow: none;
}
