.cabnav {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 0 0.5rem;
    background-color: rgb(100 116 139);
    background-color: rgb(71 85 105);
    min-height: 3.5rem;
    padding: 0.5rem 0.6rem 0.5rem;
}

.cabnavbtn {
    flex: 1 1 0;
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-size: 1rem;
}

.on {
    //border-top-left-radius: 0.5rem;
    //border-top-right-radius: 0.5rem;
    border-radius: 0.5rem;
    background-color: rgb(42,54,73);
}

.data {
    display:flex;
    justify-content: center;
    gap: 8vw;
    padding: 1rem;
    font-size: 1rem;
}

.info {
    display:flex;
    flex-direction:column;
}

.line {
    color: lightgray;
    text-align: left;
}

.gnom {
    //box-shadow: inset 2px 2px 5px rgba(100, 100, 100, 0.4);
    //box-shadow: 0px 0px 5px #000, 0.5px 0.5px 3px black;
    /* -webkit-box-shadow: 4px 4px 65px 4px rgba(42, 54, 73, 0.2) inset;
-moz-box-shadow: 4px 4px 65px 4px rgba(42, 54, 73, 0.2) inset;
box-shadow: 4px 4px 65px 4px rgba(42, 54, 73, 0.2) inset; */
}
